<%- include('partials/header') %>
<div class="container">

  <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim sunt nam, ab nisi porro assumenda non delectus dolore molestiae id vitae alias, eius explicabo voluptatibus, ipsa quisquam distinctio. Eos officia aliquid voluptatum, soluta laboriosam asperiores, quis quibusdam ratione, doloribus enim rem saepe molestiae quasi nesciunt minima consequatur velit numquam. Reiciendis in deserunt vel animi corrupti, sit assumenda eaque praesentium molestiae.</h4>
</div>  
<%- include('partials/footer') %>