<%- include('partials/header') %>
  <h4>Hello <span class="text-danger"><%= user.username %></span></h4>
  <p class="lead">Your profile image is:

    <img src='<%= user.thumbnail %>' alt="user image" height="50" width="50">
  </p>
    
<%- include('partials/footer') %>